<section class="jpkf-partner-slider {% if solid_background %}jpkf-partner-slider--solid-bkg{% endif %}">
    <div class="container--small">
        <div class="pre-title">{{ pre_title }}</div>
        <div class="jpkf-partner-slider__wrapper" is="flynt-partner-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for slider in slider_list %}
                        <div class="swiper-slide">
                            {% if '.svg' in slider.image.src %}
                                <img
                                    src="{{ slider.image.src }}"
                                    alt="{{ slider.image.alt|e }}"
                                />
                            {% else %}
                                <img
                                    class="lazyload"
                                    src="{{ placeholderImage(slider.image.width / 2, slider.image.height / 2) }}"
                                    data-src="{{ slider.image.src|resizeDynamic(slider.image.width / 2) }}"
                                    data-srcset="{{ slider.image.src|resizeDynamic(slider.image.width / 2) }} 1x, {{ slider.image.src|resizeDynamic(slider.image.width) }} 2x"
                                    data-sizes="auto"
                                    alt="{{ slider.image.alt|e }}"
                                />
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="jpkf-partner-slider__buttons">
                <div class="jpkf-partner-slider__button jpkf-partner-slider__button--prev">
                    <svg width="28" height="20" viewBox="0 0 28 20" fill="none"><path d="M0.316365 11.2053C0.216082 11.1068 0.136518 10.9898 0.0822311 10.861C0.027944 10.7321 1.12165e-07 10.594 1.13828e-07 10.4545C1.15492e-07 10.3151 0.027944 10.1769 0.0822311 10.0481C0.136518 9.91927 0.216082 9.80225 0.316365 9.70374L8.93116 1.22008C9.13336 1.02096 9.40761 0.909088 9.69357 0.909088C9.97952 0.909088 10.2538 1.02096 10.456 1.22008C10.6582 1.41921 10.7718 1.68928 10.7718 1.97088C10.7718 2.25249 10.6582 2.52256 10.456 2.72169L3.67829 9.39409L26.9232 9.39409C27.2087 9.39409 27.4827 9.50581 27.6846 9.70469C27.8865 9.90356 28 10.1733 28 10.4545C28 10.7358 27.8865 11.0055 27.6846 11.2044C27.4827 11.4033 27.2087 11.515 26.9232 11.515L3.67829 11.515L10.456 18.1874C10.5561 18.286 10.6355 18.403 10.6897 18.5319C10.7439 18.6607 10.7718 18.7988 10.7718 18.9382C10.7718 19.0776 10.7439 19.2157 10.6897 19.3445C10.6355 19.4734 10.5561 19.5904 10.456 19.689C10.3559 19.7876 10.237 19.8658 10.1062 19.9192C9.97537 19.9725 9.83516 20 9.69357 20C9.55197 20 9.41177 19.9725 9.28095 19.9192C9.15014 19.8658 9.03128 19.7876 8.93116 19.689L0.316365 11.2053Z" fill="#B12333"/></svg>
                </div>
                <div class="jpkf-partner-slider__button jpkf-partner-slider__button--next">
                    <svg width="28" height="20" viewBox="0 0 28 20" fill="none"><path d="M27.6836 8.79465C27.7839 8.89316 27.8635 9.01018 27.9178 9.13902C27.9721 9.26785 28 9.40597 28 9.54546C28 9.68494 27.9721 9.82306 27.9178 9.95189C27.8635 10.0807 27.7839 10.1978 27.6836 10.2963L19.0688 18.7799C18.8666 18.979 18.5924 19.0909 18.3064 19.0909C18.0205 19.0909 17.7462 18.979 17.544 18.7799C17.3418 18.5808 17.2282 18.3107 17.2282 18.0291C17.2282 17.7475 17.3418 17.4774 17.544 17.2783L24.3217 10.6059L1.07685 10.6059C0.79125 10.6059 0.517349 10.4942 0.315401 10.2953C0.113452 10.0964 -2.33689e-06 9.82671 -2.32459e-06 9.54546C-2.3123e-06 9.2642 0.113453 8.99447 0.315401 8.7956C0.517349 8.59672 0.79125 8.485 1.07685 8.485L24.3217 8.485L17.544 1.8126C17.4439 1.714 17.3645 1.59695 17.3103 1.46813C17.2561 1.33931 17.2282 1.20123 17.2282 1.0618C17.2282 0.92236 17.2561 0.784288 17.3103 0.655464C17.3645 0.526641 17.4439 0.40959 17.544 0.310993C17.6441 0.212396 17.763 0.134184 17.8938 0.0808241C18.0246 0.0274638 18.1648 -4.30947e-07 18.3064 -4.23719e-07C18.448 -4.16491e-07 18.5882 0.0274638 18.719 0.0808241C18.8499 0.134184 18.9687 0.212396 19.0688 0.310993L27.6836 8.79465Z" fill="#B12333"/></svg>
                </div>
            </div>
        </div>
    </div>
</section>